#logo-container {
    width: auto;
}
#logo-tab {
    vertical-align: middle;
    height: 80px;
    width: auto;
    margin: 0 -4px 0 0;
    border: none;
    padding: 0  15px 0 30px;
    background-color: transparent;
    color: rgb(255, 255, 255);
    font-family: 'Arial Narrow Bold', Helvetica, sans-serif;
    font-size: 25px;
    font-weight: bold;
}
#tab-container {
    margin: 0;
}
.tab {
    cursor: pointer;
    vertical-align: middle;
    margin: 0 -4px 0 0;
    height: 80px;
    width: auto;
    border: none;
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    outline: none;
    padding: 0 30px;
    background-color: transparent;
    color: rgb(255, 255, 255);
    font-family: 'Arial Narrow Bold', Helvetica, sans-serif;
    font-size: 15px;
    font-weight: bold;
}
#donate-tab {
    margin-right: 0;
}
#trigram-tab {
    display: none;
    margin-right: 0;
    font-size: 24px;
}
#button-container {
    text-align: center;
    width: auto;
    padding: 2%;
}
#slider-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: auto;
    padding: 2%;
}
#slider-divider-left{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#slider-divider-right{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#main-slide-container {
    margin: 0;
}
#labels-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 960px;
    margin: 0 auto;
}
footer nav{
    text-align: center;
    width: auto;
}
#follow {
    width: 95%;
    margin: 0 auto;
}
#social-media img {
    height: 25px;
    width: auto;
    margin: 0;
    padding: 23px 20px 0 0;
}
#copyright {
    text-align: center;
    padding: 10px 0 25px 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8em;
    font-weight: bold;
}
