.tab:hover {
    background-color: rgba(255, 255, 255, 0.2);
}
@media only screen and (max-width: 996px) {
    .tab {
        display: none;
    }
    #trigram-tab {
        display: initial;
    }
    /* #slider-container {
        margin: 10px 0 0 0;
    } */
}
@media only screen and (max-width: 768px) {
    main {
        width: 563px;
    }
    #slider-container {
        flex-direction: column;
    }
    #slider-divider-left{
        margin: 16px 0 0 0;
    }
    #slider-divider-right{
        margin: 40px 0 0 0;
    }
}